<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/redicon.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <!-- http://getbootstrap.com/docs/4.5/ -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <title>Fitness Tests</title>

    </head>

 <body>
            <header>
                <div class='predator'>
                    Get Ready to Test Yourself!
                </div>
            </header>

            <main>
                <div class="row">
                  <div class="column" style="background-color:#ffd700;">
                    <h1>Push-Ups</h1>
                    <ul>
                        <li><h3><a href="https://www.youtube.com/watch?v=IODxDxX7oi4&ab_channel=Calisthenicmovement" target="_blank">How to do it?</a></h3></li>
                        <li><h3>Levels of division:</h3></li>
                    </ul>
                    <ol><b>
                        <li>Zero</li>
                        <li>Less or Equal 10 </li>
                        <li>From 11 to 15</li>
                        <li>From 16 to 20</li>
                        <li>From 21 to 25</li>
                        <li>Above 25</li>
                    </ol></b>
                </div>
                <div class="column" style="background-color:#ffd700;">
                    <h1>Wall Sit</h1>
                    <ul>
                        <li><h3><a href="https://www.youtube.com/watch?v=XULOKw4E4P4" target="_blank">How to do it?</a></h3></li>
                        <li><h3>Levels of division:</h3></li>
                    </ul>
                    <ol><b>
                        <li>Zero</li>
                        <li>Less than 20 seconds</li>
                        <li>From 20 to 30 seconds</li>
                        <li>From 30 to 70 seconds </li>
                        <li>From 70 to 90 seconds</li>
                        <li>Above 90 seconds</li>
                    </ol></b>
                </div>
                <div class="column" style="background-color:#ffd700;">
                    <h1>Plank</h1>
                    <ul>
                        <li><h3><a href="https://www.youtube.com/watch?v=ASdvN_XEl_c&ab_channel=Bowflex" target="_blank">How to do it?</a></h3></li>
                        <li><h3>Levels of division:</h3></li>
                    </ul>
                    <ol><b>
                        <li>Zero</li>
                        <li>Less than 20 seconds</li>
                        <li>From 20 to 30 seconds</li>
                        <li>From 30 to 70 seconds </li>
                        <li>From 70 to 90 seconds</li>
                        <li>Above 90 seconds</li>
                    </ol></b>
                </div>
                <div class="column" style="background-color:#ffd700;">
                    <h1>Pull-Ups</h1>
                    <ul>
                        <li><h3><a href="https://www.youtube.com/watch?v=eGo4IYlbE5g&ab_channel=Calisthenicmovement" target="_blank">How to do it?</a></h3></li>
                        <li><h3>Levels of division:</h3></li>
                    </ul>
                    <h4>
                        <ol><b>
                            <li>Zero</li>
                            <li>Less or Equal 3 </li>
                            <li>From 3 to 7</li>
                            <li>From 7 to 10</li>
                            <li>From 10 to 14</li>
                            <li>Equal or Above 15</li>
                        </ol></b>
                    </h4>
                </div>
                </div>
            </main>

            <footer>
                <div class ="navigate">Ready?   <a href="\form">Go to the Form Page!</a></div>
            </footer>
</html>